target
temp
build
temp_*
*.wasm
.idea
bin/
!pkg/controller/src/bin/

__pycache__
tested-operators/

# Crash dumps of qemu
*.core 

# MacOS specific files
.DS_Store

# Visual Studio Code specific files
.vscode/

wasm_source_dir/

wasmop_config.sh