[submodule "pkg/kube-rs"]
	path = pkg/kube-rs
	url = git@github.com:DriesVer/kube-wasmoperator.git
[submodule "pkg/wasmtime"]
	path = pkg/wasmtime
	url = git@github.com:DriesVer/wasmtime-wasmoperator.git